body {
    background: #f2f1ed;
}
h1 {
    width: 100%;
    background: none;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-top:0px;
    padding-bottom: 0px;
    padding-left: 20px;
    font: 35px copperplate;
}
#header {
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom:10px;
    text-align: center;
    color: #074151;
    font: bold 32px roboto;
    text-transform: uppercase;
}
#report-container1{
    margin:0 auto;
}
#bk {
    background: none;
    border: none;
    color: #074151;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
}
#control-button {
    width: 100%;
    margin-top:10px;
    text-align:center;
}
#co {
    width: 220px;
    margin-top: 5px;
    background: #757573;
    border-radius: 1px;
    color: white;
    padding: 10px;
    font: 16px georgia;
    border: none;
    transition: 0.6s;
}
    #co:hover {
        background: #ed8d0e;
        color: white;
    }
header > p {
    color: #FFFFFF;
    font: bold 1.6em "segoe ui", arial, sans-serif;
    margin: auto;
    width: 50%;
    padding-top: 20px;
}

main {
    margin: 0 auto;
    width: 100%;
}
input{
    position:center;
}
