body {
    background: #f2f1ed;
}

#header{
    margin-top:70px;
    text-align:center;
    color:#074151;
    font:bold 32px roboto;
    text-transform:uppercase;
    text-decoration:underline;
}
#Text {
    margin-top: 50px;
    text-align: center;
    color: #074151;
    font:bold 24px roboto;
}
#Text2 {
    margin-top: 15px;
    text-align: center;
    color: #074151;
    font:16px roboto;
}
#bttns{
    margin-top:40px;
    text-align:center;
}
#admin {
    width: 220px;
    margin-top: 10px;
    background: #757573;
    border-radius: 1px;
    color: white;
    padding: 10px;
    font: 16px georgia;
    border: none;
    transition: 0.6s;
}

    #admin:hover {
        background: #ed8d0e;
        color: white;
    }
#operator {
    width: 220px;
    margin-top: 20px;
    background: #757573;
    border-radius: 1px;
    color: white;
    padding: 10px;
    font: 16px georgia;
    border: none;
    transition: 0.6s;
}

    #operator:hover {
        background: #ed8d0e;
        color: white;
    }